* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    margin: 0.5em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
}

@media all and (min-width: 1250px) {
    body { font-size: 1.2vw; }
}

h2 {
    font-size: 1.3em;
}

#statusPanel {
    border-radius: 0 0.3em 0 0;
    background-color: #444;
    color: #fff;
    padding: 0.4em 0.9em 0.4em 0.6em;
    font-size: 0.7em;
    position: fixed;
    left: 0;
    bottom: 0;
}

#statusPanel::before {
    content: '';
    display: inline-block;
    background-color: #0f0;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    margin: 0 0.5em -0.1em 0;
}

#statusPanel.error::before {
    background-color: #f00;
}

.project-wrap {
    width: 50%;
    float: left;
}

.project {
    overflow: hidden;
    background-color: #fff;
    padding: 0.7em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: 0 0.1em 0.4em 0 rgba(0,0,0,0.14);
}

.project-image {
    float: left;
    width: 5em;
}

.project-content {
    margin-left: 6em;;
}

.project-header {
    overflow: hidden;
}

.project-commit {
    max-width: 30em;
    margin: 0.7em 0 0;
}

.info {
    margin-top: 0.1em;
    font-size: 0.8em;;
    color: #555;
}

h2 {
    float: left;
}

.badge {
    background-color: #aaa;
    font-weight: bold;
    color: #fff;
    border-radius: 0.3em;
    float: right;
    padding: 0.1em 0.35em;
    margin-left: 0.8em;
}

.failed {
    background-color: #f00;
}

.success {
    background-color: #0a0;
}

.running {
    background-color: #00f;
}

progress[value] {
    width: 100%;
    height: 1.3em;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 1em;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 0.1em;
}

progress[value]::-webkit-progress-value {
  background-color: #88f;
}

.col4 {
    width: 33%;
    float: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
